*{
    padding: 0;
    margin: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
#minicircle{
    transition: all cubic-bezier(0.19,1,0.22,1) 1s;
    width:10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    z-index: 99999;
    position: absolute;
    
}

#main{
    width:100%;
    background-color: black;
}
.bounding{
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem{
    transform: translateY(100%);
}
#landingP{
    position: relative;
    color: white;;
    width:100%;
    height:100vh;
    background-color: black;
}

#nav a{
    font-size: 18px;
    text-decoration: none;
    color:white;
}
#nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding:20px 40px;
    color:white;
}
#heading{
    margin-top:90px;
}
#heading h1{
    font-family: "General Sans";
    opacity: .6;
    margin-left:30px;
    line-height: 1;
    font-size:9vw;
    font-weight: 900;
    text-transform: uppercase;
}
#heading #Sech1{
    margin-left: 230px;
}

.blocktext{
    display:flex;
    flex-direction: column;
    align-items: end;
    width:fit-content;

}
.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
}

#Sheadings{
    display:flex;
    flex-direction: column;
    align-items: end;
    margin-top:100px;
    padding-right:20px;

}

#Sheadings h5{
    margin-top:0.9vw;
    font-size: 1.2vw;
    text-align: right;
    text-transform: uppercase;

}
#landingFooter{
    
    padding:0 2.5vw;
    width:100%;
    position:absolute;
    bottom:3%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#landingFooter a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
}

#landingFooter .circle{
    display:flex;
    align-items: center;
    justify-content: center;
    width:25px;
    height:25px;
    border-radius: 50%;
    background-color: #888;
}
#landingFooter #iconset{
    display:flex;
    gap:5px;

}
#second{
    color:white;
    padding-right:10vw;
    padding-top:50px ;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.elem{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top:1px solid #888;
}
.elem h1{
    text-transform: uppercase;
    font-size: 7vw;
    opacity:0.7;

}
.elemlast{
    border-bottom:1px solid #888;
}

.elem img{
    /* image above text */
    opacity: 0; 
    height:140%;
    z-index:999; 
    position: absolute;
}

#about{
    width: 100%;
    color:white;
    display:flex;
    align-items: center;
    gap:50px;
    background-color: black;
    padding: 10vw 10vw;
    padding-left: 40vw;

}

#about img{
    width:200px;
}

#textabout{
    width:25rem;
   
}
#textabout h5{
    text-transform: uppercase;
    opacity:0.6;
    margin-bottom:10px;
}

#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}

#textabout a{
    padding:12px 22px;
    border:1px solid white;
    border-radius: 100px;
    color:white;
    text-decoration: none;
    font-size: 12px;
}

#subscribe{
    color:white;
    padding: 20px 32px;
    padding-bottom:7;
    background-color:black;
}

#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
}

#footer{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:40px 30px;
}

#footerleft{
    color:white;
    display:flex;
    gap:20px;
}

#footerright{
    display: flex;
    gap: 30px;
}
#footer a{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-size: 14px;
    font-weight: 500;
}
